.novablocks-media__aside {
	display: flex;

	@include above(desktop) {
		.has-image-on-the-left & {
			order: -1;
		}
	}

	@include below(desktop) {
		grid-column: span 2;
	}
}

// .novablocks-media__grid {
// 	align-self: stretch;
// 	flex-grow: 1;
// 	margin-top: calc( var(--novablocks-media-grid-gap, 15) * -1px );
// 	margin-left: calc( var(--novablocks-media-grid-gap, 15) * -1px );

// 	display: grid;

// 	--smaller-column-percentage: calc( 75 - var(--novablocks-media-grid-proportions) * 0.5 );
// 	--bigger-column-percentage: calc( 25 + var(--novablocks-media-grid-proportions) * 0.5 );

// 	--smaller-column: calc( var(--smaller-column-percentage) * 1% );
// 	--bigger-column: calc( var(--bigger-column-percentage) * 1% );

// 	//--actual-overlap: calc( var(--novablocks-media-scale) * var(--novablocks-media-overlap) / 100 );
// 	--actual-overlap: var(--novablocks-media-overlap);

// 	--difference: calc( 100 - var(--novablocks-media-scale, 100) );
// 	--scale: calc(var(--smaller-column) + var(--bigger-column) * var(--difference) / 100);


// 	//grid-gap: calc( var(--novablocks-media-grid-gap, 15) * 1px );
// 	min-height: 400px;
// }

.novablocks-media__grid--2-columns {
	grid-template-columns: var(--bigger-column);
}

.novablocks-media__grid--2-rows {
	grid-template-rows: var(--bigger-column);
}

// fit images
.novablocks-media__image {
	position: relative;

	display: flex;

	img {
		--novablocks-media-proportions-ratio: 0;
		--novablocks-media-scale: calc( 1 - var(--novablocks-media-proportions) * var(--novablocks-media-proportions-ratio) / 100 );
		@include image-cover;
	}
}

// gallery with 1 item
.novablocks-media__image:first-child:last-child,
.novablocks-media__placeholder {
	grid-column: span 2;
}

.novablocks-media__image {
	--novablocks-media-scale-ratio: 1;
	--novablocks-media-overlap-ratio: 1;
}

// .novablocks-media__image:first-child:nth-last-child(2) {
// 	grid-row: 1 / span 1;
// 	grid-column: 1 / span 1;

// 	//height: calc( 100% - var(--smaller-column) * var(--novablocks-media-scale) / 100 );
// 	//margin-bottom: auto;
// 	margin-right: calc( -0.25% * var(--actual-overlap) );

// 	& ~ .novablocks-media__image:last-child {
// 		grid-row: 1 / span 1;
// 		grid-column: 2 / span 1;

// 		--height: calc( 100% - var(--bigger-column) * var(--novablocks-media-scale) / 100 );
// 		height: var(--height);
// 		align-self: center;
// 		//margin-top: auto;

// 		margin-top: calc( 100% / ( var(--bigger-column-percentage) * var(--novablocks-media-scale) ) - var(--height) );
// 		margin-left: calc( -0.25% * var(--actual-overlap) );
// 	}
// }

// gallery with 3 items
// .novablocks-media__image:first-child:nth-last-child(3) {
// 	grid-row: 1 / span 1;
// 	grid-column: 1 / span 2;

// 	justify-self: center;
// 	width: calc( var(--scale, 100%) * var(--novablocks-media-scale-ratio) );
// 	margin-left: calc( 0.5% * var(--actual-overlap) * var(--novablocks-media-overlap-ratio) );

// 	img {
// 		--novablocks-media-proportions-ratio: 0.25;
// 	}

// 	& ~ .novablocks-media__image:nth-child(2) {
// 		grid-row: 2 / span 1;
// 		grid-column: 1 / span 1;

// 		margin-top: calc( -1% * var(--actual-overlap) );

// 		img {
// 			--novablocks-media-proportions-ratio: 0.5;
// 		}
// 	}

// 	& ~ .novablocks-media__image:last-child {
// 		grid-row: 2 / span 1;
// 		grid-column: 2 / span 1;

// 		margin-bottom: calc( 0.5% * var(--actual-overlap) );
// 	}
// }

// .novablocks-media__image:first-child:nth-last-child(4) {
// 	grid-row: 1 / span 1;
// 	grid-column: 1 / span 1;

// 	margin-bottom: calc( -1% * var(--actual-overlap) );

// 	& ~ .novablocks-media__image:nth-child(2) {
// 		grid-row: 1 / span 1;
// 		grid-column: 2 / span 1;

// 		height: calc( var(--scale, 100%) * var(--novablocks-media-scale-ratio) );
// 		align-self: flex-end;
// 	}

// 	& ~ .novablocks-media__image:nth-child(3) {
// 		grid-row: 2 / span 1;
// 		grid-column: 1 / span 1;
// 		justify-self: flex-end;

// 		margin-right: calc( -0.75% * var(--actual-overlap) );

// 		width: calc( var(--scale, 100%) * var(--novablocks-media-scale-ratio) );
// 	}

// 	& ~ .novablocks-media__image:last-child {
// 		grid-row: 2 / span 1;
// 		grid-column: 2 / span 1;

// 		margin-top: calc( -0.75% * var(--actual-overlap) );
// 		margin-left: calc( -0.75% * var(--actual-overlap) );

// 		width: calc( var(--scale, 100%) * var(--novablocks-media-scale-ratio) );
// 		height: calc( var(--scale, 100%) * var(--novablocks-media-scale-ratio) );
// 	}
// }

// gallery with more than 4 items
.novablocks-media__image:nth-child(n + 5) {
	display: none;
}

.novablocks-media__image:nth-child(1),
.novablocks-media__image:nth-child(4) {

	&[class][class][class] img {
		transform: rotate( calc( var(--novablocks-media-rotate, 0) * -0.05deg ) );
	}
}

// .novablocks-media__image:nth-child(2),
// .novablocks-media__image:nth-child(3) {

// 	&[class][class][class] img {
// 		transform: rotate( calc( var(--novablocks-media-rotate, 0) * 0.05deg ) );
// 	}
// }

.novablocks-media__grid--1-rows.novablocks-media__grid--2-columns {
	--image-one-col-start: 1;
	--image-one-col-end: 16;
	--image-one-row-start: 6;
	--image-one-row-end: 26;
	--image-two-col-start: 16;
	--image-two-col-end: 31;
	--image-two-row-start: 6;
	--image-two-row-end: 26;
}

.novablocks-media__grid--2-rows.novablocks-media__grid--2-columns {
	--image-one-col-start: 6;
	--image-one-col-end: 26;
	--image-one-row-start: 6;
	--image-one-row-end: 16;
	--image-two-col-start: 6;
	--image-two-col-end: 16;
	--image-two-row-start: 16;
	--image-two-row-end: 26;
	--image-three-col-start: 16;
	--image-three-col-end: 26;
	--image-three-row-start: 16;
	--image-three-row-end: 26;
}

.novablocks-media__grid-cell {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(30, 1fr);
	grid-gap: calc( var(--novablocks-media-grid-gap, 15) * 1px );
	flex-grow: 1;
	min-height: 400px;
}

.wp-block[data-align=wide] {
	max-width: 1440px !important;
}

// 2 Items
.novablocks-media__image:first-child:nth-last-child(2) {
	grid-row: calc(calc(var(--image-one-row-start) + var(--novablocks-media-scale)) - var(--novablocks-media-displace)) / calc(calc(var(--image-one-row-end) - var(--novablocks-media-displace)) - var(--novablocks-media-scale));
	grid-column: var(--image-one-col-start) / calc(var(--image-one-col-end) + var(--novablocks-media-grid-proportions));

	& ~ .novablocks-media__image:last-child {
		grid-row: calc(calc(var(--image-two-row-start) + var(--novablocks-media-displace)) - var(--novablocks-media-scale))/ calc(calc(var(--image-two-row-end) + var(--novablocks-media-displace)) + var(--novablocks-media-scale));
		grid-column: calc(calc(var(--image-two-col-start) + var(--novablocks-media-grid-proportions) ) - var(--novablocks-media-overlap)) / var(--image-two-col-end);
	}
}

// 3 Items
.novablocks-media__image:first-child:nth-last-child(3) {
	grid-row: calc(var(--image-one-row-start) + var(--novablocks-media-overlap)) / calc(calc(var(--image-one-row-end) - var(--novablocks-media-grid-proportions)) + var(--novablocks-media-overlap));
	grid-column: calc(var(--image-one-col-start) + var(--novablocks-media-scale)) / calc(var(--image-one-col-end) - var(--novablocks-media-scale));

	& ~ .novablocks-media__image:nth-child(2) {
		grid-row: calc(calc(var(--image-two-row-start) - var(--novablocks-media-grid-proportions)) - var(--novablocks-media-overlap))/ calc(var(--image-two-row-end) - var(--novablocks-media-overlap));
		grid-column: calc(calc(var(--image-two-col-start) + var(--novablocks-media-overlap)) - var(--novablocks-media-scale)) / calc(calc(var(--image-two-col-end) + var(--novablocks-media-grid-proportions)) + var(--novablocks-media-overlap));

	}

	& ~ .novablocks-media__image:last-child {
		grid-row: calc(calc(var(--image-three-row-start) - var(--novablocks-media-grid-proportions)) - var(--novablocks-media-overlap)) / calc(calc(var(--image-three-row-end) - var(--novablocks-media-overlap)) + var(--novablocks-media-scale));
		grid-column: calc(calc(var(--image-three-col-start) + var(--novablocks-media-grid-proportions)) - var(--novablocks-media-overlap)) / calc(var(--image-three-col-end) - var(--novablocks-media-overlap));
	}
}
